/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  color: #4F4846;
  background-image: url("../images/HB.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

/* MS note - added padding to push our logo out a bit */

h1 {
  padding-left: 20px;
  padding-top: 5px;
}

ul {
  padding-top: 17px;
}

li {
  display: inline;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  line-height: 60px;
}

nav {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

footer {
  height: 65px;
  width: 100%;
  font-size: 115%;
  color: whitesmoke;
  line-height: 60px;
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

/* Class Selectors */
.btn {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

.container {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/******************************** MOBILE-DEVICE-CONFIGURATIONS ******************************/

@media (max-width: 900px) {

  body {
    flex-direction: row;
  }

  header {
    width: 100%;
  }
  
  li {
    padding-right: 10px;
  }
}

@media (max-width: 760px) {
   
  body {
    flex-direction: row;
  }

  main {
  flex-direction: row;
  }
  
  nav {
    width: 100%;
  }

  .container {
    padding-top: 25px;
  }

  #ticket-card-holder {
    width: 100%;
  }

  h1{
    padding-left: 5px;
  }

  li {
    padding-right: 10px;
  }

  footer {
    width: 100%;
  }
  
}

@media (max-width: 500px) {
   
  body {
    display: flex;
  }

  nav {
    width: 100%;
  }

  #ticket-card-holder {
  width: 100%;
  }

  #map{
    max-width: 50%;
  }

  h1{
  padding-left: 5px;
  }

  li {
    padding-right: 10px;
  }
  
  footer {
    width: 100%;
  }

}