/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  color: #4F4846;
  background-image: url("../images/HB.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

<<<<<<< HEAD
#map {
  height: 200px;
  margin-top: 70%;
float: right;
  width: 20%;
  display: none;
}

/* MS note - added padding to push our logo out a bit */
=======

>>>>>>> 32b6d92cc15e65353fc979ec8cde73d1ac28e01a
h1 {
  padding-left: 20px;
  padding-top: 5px;
}

ul {
  padding-top: 17px;
}

li {
  display: inline;
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

header {
  height: 60px;
  width: 100%;
  line-height: 60px;
}

nav {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

/* Class Selectors */
.btn {
  background-image: linear-gradient(
  rgb(4, 38, 205) 0%,
  rgb(129, 143, 247) 100%);
}

.container {
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/************************* MOBILE DEVICE CONFIGURATIONS ************************/

/* @media (max-width: 900px) {

  .container {
    flex-wrap: wrap;
  }

  img {
    width: 400px;
    height: 100px;
  }

  .row {
   margin: 50px;
 }

  .saveBtn {
   padding-left: 50px;
   padding-right: 50px;
   width: 50px;
   height: 50px;
 }

 .past, .present, .future {
   height: 100px;
 }
}

@media (max-width: 760px) {
   
  .container {
    flex-wrap: wrap;
  }

   img {
     width: 400px;
     height: 100px;
   }

   .row {
    margin: 50px;
  }

   .saveBtn {
    padding-left: 50px;
    padding-right: 50px;
    width: 50px;
    height: 50px;
  }

  .past, .present, .future {
    height: 100px;
  }
}

@media (max-width: 500px) {
   
  .container {
    flex-wrap: wrap;
  }

  img {
    width: 400px;
    height: 100px;
  }

  #clearFieldsBtn {
   margin-bottom: 2.5px;
  }

  .row {
   margin: 50px;
 }

  .saveBtn {
   padding-left: 50px;
   padding-right: 50px;
   width: 50px;
   height: 50px;
 }

 .past, .present, .future {
   height: 100px;
 }
} */